* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin: 0;
}
h1 {
    font-family: 'Borel', cursive;
    font-size: 5vmin;
    margin: 2vmin 0 0 0;
}
h2 {
    font-size: 5vmin;
    margin-top: 0;
    margin-bottom: 0.5vmin;
}
#board {
    border-color: black;
    display: grid;
    grid-template-columns: repeat(4, 18vmin);
    grid-template-rows: repeat(4, 18vmin);
}
.card {
    height: 17vmin;
    width: 17vmin;
    border: 0.2vmin solid lightgray;
    border-radius: 25px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.cardFront, .cardBack {
    position: absolute;
    border: 0.2vmin solid lightgray;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background-size: contain;
    backface-visibility: hidden
}

.cardFront {
    background-color: white;
    transform: rotateY(180deg);
    backface-visibility: hidden
}

.cardBack {
    background-color: lightgray;
}

.flipcard {
    transform: rotateY(180deg);
}

footer {
    width: 70vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1vmin
}

p {
    font-size: 3vmin;
    margin: 1vmin;
    font-size: 20px;
}

#resetGame {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 8px; 
}
#resetGame:hover {
    color: white;
    background-color: black;
}

.wrongGuessesMax {
    color: crimson;
}
.foundAll {
    color: green;
}